body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

a:hover {
    background-color: gold;
    color: black;
